<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <h2>Author: {{Author}} </h2>
    <h2>Age: {{Age}} </h2>
    <h2>List: {{lst}} </h2>


    <!-- If else condition -->
    {% if Age >= 20 %}
        <h4>You will get driving license</h4>
    {% elif Age >= 10 and Age <= 19 %}
        <h4> you will not get driving license</h4>
    {% else %}
        <h4>you're a child </h4>
    {% endif %}


<!-- For loop  -->

{% for i in courses %}
<h3> {{i.id}} : {{i.name}} : {{i.fee}} </h3>
{% endfor %}

{{list}}
<h1> {{ lst | join:"-" }}</h1> 
<h1> {{ birthday | date:"D d M Y" }} </h1>
</body>
</html>